body {
	margin: 30px 0;
	padding: 0;
	color: #414142;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	background: #faf8f8;
}

a {
	color: #5b0192;
	text-decoration: none;
}
		
a:active,
a:focus {
	outline: 0;
}


#header {
	width: 800px;
	margin: auto;
	position: relative;
}

  #header #customheader {
    display: block;
    vertical-align: top;
  }

    #header #customheader .log {
    	line-height: 1.6em;
	    font-size: 0.81em;
	    letter-spacing: 0;
	    padding-bottom: 10px;
	    text-align: right;
	    display: inline-block;
    }

    #header #customheader .search {
    	padding-bottom: 10px;
	    text-align: left;
	    display: inline-block;

    }

    #header #customheader .search input[type="submit"]{
    	width: 80px;
          background: #8b00e0;
          color: #FFFFFF;
          display: inline-block;
      }

	#header #customheader .search input[type="text"]{
          display: inline-block;
      }

    #header .title {
	    color: #414142;
	    text-decoration: none;
	    font-size: 3.75em;
	    letter-spacing: -1px;
    }

    #header .description {
		line-height: 1.6em;
		font-size: 0.81em;
		letter-spacing: 0;
		padding-bottom: 10px;
    }
    
    #header .bar {
	    width: 788px;
	    height: 21px;
	    font-family: Verdana, Geneva, Tahoma, sans-serif;
	    font-size: 0.69em;
	    line-height: 1.8em;
	    color: #FFFFFF;
	    text-align: right;
	    background: #8b00e0;
	    margin-top: 2px;
	    padding: 0 6px;
    }

    #header .bar a{
	    color: #FFFFFF;
    }

        #header .bar input .search {
            border: 0;
            width: 78px;
	        height: 21px;
            padding: 12px;
            font-size: 18px;
        }

        #header .bar input[type="submit"] .searchbottom {
            color: black;
        }

#content {
	width: 800px;
	margin: 30px auto auto auto;
	display: block;
}

  #content .smallspace{
	width: 800px;
	height: 50px;
	display: block;
  }

  #content .bigspace{
	width: 800px;
	height: 100px;
	display: block;
  }
  #content #post{
  	width: 800px;
    position: relative;
  }
  #header .bar {
	    width: 788px;
	    height: 21px;
	    line-height: 1.8em;
	    background: #8b00e0;
	    margin-top: 2px;
	    padding: 0 6px;
    }

    #content #post .left {
		width: 270px;
	    height: 21px;
		line-height: 1.8em;
		text-decoration: none;
		background: #8b00e0;
		padding: 0 6px;
		display: inline-block;
		text-align: right;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #FFFFFF;
		float: left;
	}

	#content #post .right {
		width: 500px;
		line-height: 1.8em;
		float: right;
		font-size: 1em;
        display: block;		
	}

      #content #post .right .title{
        display: inline-block;
        font-size: 1.8em;
      }

      #content #post .right .delete_edit{
        text-align: right;
      }


	  #content #post .blogcontent{
	  	  width: 500px;
	  	  float: right;
	  	  display: block;
	  }
      
      #content #post .right textarea{
          height: 200px;
          width: 500px;
          float: right;
      }

      #content #post input[type="text"]{
      	height: 23px;
      }

      #content #post input[type="submit"]{
      	  width: 100px;
          background: #8b00e0;
          color: #FFFFFF;
          float: right;
          display: block;
      }

      #header .search input[type="submit"]{
      	width: 100px;
          background: #8b00e0;
          color: #FFFFFF;
          float: right;
          display: inline-block;
      }

  #content .endbar{
  	  width: 788px;
	    height: 21px;
	    font-family: Verdana, Geneva, Tahoma, sans-serif;
	    font-size: 0.69em;
	    line-height: 1.8em;
	    color: #FFFFFF;
	    text-align: right;
	    background: #8b00e0;
	    margin-top: 2px;
	    padding: 0 6px;
	    display: block;
  }

	
