body {
	margin: 30px 0;
	padding: 0;
	color: #414142;
	font-family: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	background: #faf8f8;
}

a {
	color: #5b0192;
	text-decoration: none;
}
		
a:active,
a:focus {
	outline: 0;
}

#header {
	width: 800px;
	margin: auto;
	position: relative;
}

  #header #customheader {
    display: inline-block;
    vertical-align: top;
  }

    #header #customheader.log {
    	line-height: 1.6em;
	    font-size: 0.81em;
	    letter-spacing: 0;
	    padding-bottom: 10px;
	    text-align: right;
	    display: block;
    }

    #header #customheader.search {
	    padding-bottom: 10px;
	    text-align: right;
	    display: block;
    }


    #header .title {
	    color: #414142;
	    text-decoration: none;
	    font-size: 3.75em;
	    letter-spacing: -1px;
    }

    #header .description {
		line-height: 1.6em;
		font-size: 0.81em;
		letter-spacing: 0;
		padding-bottom: 10px;
    }
    
    #header .bar {
	    width: 788px;
	    height: 21px;
	    font-family: Verdana, Geneva, Tahoma, sans-serif;
	    font-size: 0.69em;
	    line-height: 1.8em;
	    color: #FFFFFF;
	    text-align: right;
	    background: #8b00e0;
	    margin-top: 2px;
	    padding: 0 6px;
    }

    #header .bar a{
	    color: #FFFFFF;
    }

        #header .bar input.search {
            border: 0;
            width: 78px;
	        height: 21px;
            padding: 12px;
            font-size: 18px;
        }

        #header .bar input[type="submit"].searchbottom {
            color: black;
        }

#content {
	width: 800px;
	margin: 30px auto auto auto;
}

  #content .bigspace{
	width: 800px;
	height: 30px;
  }
  #content #post{
  	width: 800px;
    position: relative;
  }

    #content #post .left {
		width: 270px;
	    height: 21px;
		line-height: 1.8em;
		text-decoration: none;
		background: #8b00e0;
		padding: 0 6px;
		display: block;
		text-align: right;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #FFFFFF;
		float: left;
	}

	#content #post .right {
		width: 500px;
		line-height: 1.8em;
		float: right;
		font-size: 0.81em;
		display: block;
	}

	  #content #post .right .title{
          font-size: 21px;
	  }

	  #content #post .right .blogcontent{

	  }

  #content .endbar{
  	  width: 788px;
	    height: 21px;
	    font-family: Verdana, Geneva, Tahoma, sans-serif;
	    font-size: 0.69em;
	    line-height: 1.8em;
	    color: #FFFFFF;
	    text-align: right;
	    background: #8b00e0;
	    margin-top: 2px;
	    padding: 0 6px;
  }

	